<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hicomp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_new_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_new_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiComp">
        <activity android:name=".InfoProduk"></activity>
        <activity android:name=".HalamanKatalog" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".profile" />
        <activity android:name=".Dompet" />
        <activity android:name=".FAQ" />
        <activity android:name=".Teknisi3" />
        <activity android:name=".Teknisi2" />
        <activity android:name=".Teknisi1" />
        <activity android:name=".ListTeknisi" />
        <activity android:name=".MenuTanya" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>